<div class="card">
  <div class="card-body">
    <div *ngIf='debts && debts.length; else elseBlock'>
      <table class="table">
        <thead>
        <tr>
          <th>+/-</th>
          <th>Who</th>
          <th>How much</th>
          <th>For what</th>
          <th>When</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let debt of debts; let i=index">
          <td>
            <fa-icon class="thumbs-up" *ngIf="debt.meToPay" [icon]=thumbsUpIcon></fa-icon>
            <fa-icon class="thumbs-down" *ngIf="!debt.meToPay" [icon]=thumbsDownIcon [styles]="{color:'red'}"></fa-icon>
          </td>
          <td>
            <input type="text" size="10" [(ngModel)]="debt.debtorName" [disabled]="!debt.isEditable"/>
          </td>
          <td>
            <input type="text" size="10" [(ngModel)]="debt.value" (blur)="transformAmount($event, i)" [disabled]="!debt.isEditable"/>
          </td>
          <td>
            <input type="text" size="15" [(ngModel)]="debt.description" [disabled]="!debt.isEditable"/>
          </td>
          <td>
            <input type="text" size="15" [(ngModel)]="debt.date" [disabled]="!debt.isEditable"/>
          </td>
          <td>
          <fa-icon (click)="debt.isEditable=!debt.isEditable" *ngIf="!debt.isEditable" [icon]=editIcon></fa-icon>
          <fa-icon *ngIf="debt.isEditable" (click)="debt.isEditable=!debt.isEditable" [icon]=confirmIcon>></fa-icon>
          </td>
          <td>
            <fa-icon class="delete-icon" [icon]=deleteIcon (click)=onDeleteClick(i)></fa-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template #elseBlock><h3 id="no-debts">You are free of debts!</h3></ng-template>
    <a href="/new" [routerLink]="['/new']">
      <fa-icon class="add-icon fa-3x" [icon]=addIcon></fa-icon>
    </a>

  </div>
</div>
