.card {
  position: absolute;
  left: 10%;
  right: 10%;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.thumbs-up {
  color: green;
}

.thumbs-down {
  color: red;
}

.delete-icon:hover {
  color: #555555;
  cursor: pointer;
}

#no-debts {
  text-align: center;
}
